.register-main-div{
    background-color: whitesmoke;
    width: 100%;
    height: 100%;
}
.register-logo{
    width: 60%;
    height: 20%;
    margin-bottom: 2%;
}
.logo{
    margin-left: 50%;
}
.register-div{
    margin-left: 25%;
    background-color: white;
    width: 50%;
    padding:2%;
    border-radius: 1%;
}
.register-title{
    margin-left: 9%;
    margin-bottom: 2%;
}
.register-login{
    margin-top: 5%;
}
.register-input-dropdown{
    width: 50%;
}
.md-col-5{
    margin-right: 5%;
}
option{
    text-align: center;
}
.register-div form{
    margin-left: 10%;
}
.register-phone{
    width: 60%;
}
.pass{
    width: 60%;
}
.btn-register{
    margin-top: 0%;
    margin-left: 60%;
    margin-bottom: 5%;
}
@media(max-width:768px){
    .register-phone{
        width: 100%;
    }
    .register-title{
        margin-left: 0%;
        margin-bottom: 9%;
    }
    .register-logo{
        width: 100%;
        height: 20%;
        margin-bottom: 2%;
    }
    .logo{
        width: 100%;
        margin-left: 0%;
    }
    .btn-register{
        margin-top: 5%;
        margin-left: 40%;
        margin-bottom: 5%;
    }
    .pass{
        width: 100%;
    }
    .register-div{
        width: 100%;
        margin-left: 0%;
    }
    .register-div form{
        margin-left: 0%;
    }
    .register-input-dropdown{
        width: 100%;
    }
}